.tab-title{
  color: #4f8b2e;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  align-items: center;
  margin-bottom: -1.5rem;
}

.componente-tutorial{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#conteudo-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#produto-left {
  width: 50%;
}

.titles {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.texts-produto{
  color: black;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  width: 100%;
  margin-right: 4rem;
  align-self: center;
}

.item1 {
  background-image: url('../../assets/carrousel1.jpg');
}
.item2 {
  background-image: url('../../assets/carrousel2.jpg');
}
.item3 {
  background-image: url('../../assets/carrousel3.jpg');
}

.titles-parte{
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#tutorial{
  width: 14rem;
  background-color: #186B8C;
  height: 20rem;
  border-radius: 4rem;
  align-self: center;
  border: 2px solid black
}

.txt-tutorial-div{
  width: 60%;
  color: black
}

.tutorial-txt{
  font-size: 18px;
  font-weight: 500;
}

.tutorial-number{
  color: black;
  align-self: center;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 18px;
}

.tutorial-number-dev{
  align-self: center;
  font-weight: 900;
  font-size: 26px;
}

