<div id="conteudo-explicativo" class="tab">
  <p class="tab-title">CONTEÚDO EXPLICATIVO</p>
  <div class="tab-content" id="conteudo-div">
      <div id="produto-left">
          <div id="explicacao-produto">
              <p class="titles">PRODUTO</p>
              <p class="texts-produto">A SITEC é uma empresa voltada para consultar clientes no descarte adequado do lixo, além de fornecer cerificações como forma de recompensa pelo consumo e despejo responsável ambientalmente.</p>
          </div>
          <div id="carrousel">
              <div class="carousel_items">
                  <div class="carousel_item item1">
                      <p class="carousel_text">Deixa que a gente cuida!</p>
                  </div>
                  <div class="carousel_item item2">
                      <p class="carousel_text">Seja SITEC!</p>
                  </div>
                  <div class="carousel_item item3">
                      <p class="carousel_text">Cuidando do ambiente!</p>
                  </div>
                </div>
          </div>
      </div>
      <div  id="produto-right">
          <p class="titles-parte">FAÇA PARTE!</p>
          <div id="tutorial">
              <div class="tutorial-item">
                  <div class="componente-tutorial">
                      <div class="circle-tutorial">
                          <p class="tutorial-number">1</p>

                      </div>

                          <div class="txt-tutorial-div">
                      <p class="tutorial-txt">Cadastre-se</p>
                          </div>
                  </div>
              </div>
              <div class="tutorial-item">
                  <div class="componente-tutorial">
                      <div class="circle-tutorial">
                          <p class="tutorial-number">2</p>
                      </div>
                      <div class="txt-tutorial-div">
                      <p class="tutorial-txt">Preencha o formulário com o serviço desejado.</p>
                  </div>
              </div>
              </div>
              <div class="tutorial-item">
                  <div class="componente-tutorial">
                      <div class="circle-tutorial">
                          <p class="tutorial-number">3</p>
                      </div>
                      <div class="txt-tutorial-div">
                      <p class="tutorial-txt">Marque uma consultoria.</p>
                  </div>
                  </div>
              </div>
              <div class="tutorial-item">
                  <div class="componente-tutorial">
                      <div class="circle-tutorial">
                          <p class="tutorial-number">4</p>
                      </div>
                      <div class="txt-tutorial-div">
                      <p class="tutorial-txt">Seja SITEC!</p>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
