:root{
  --primary-color: #186B8C;
  --secondary-color: #4f8b2e;
  --background-color: #F2E7DC;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

#main {
  background-color: #F2E7DC;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}
