#foot-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#foot-note{
  width: 100%;
  height: 6.9rem;
  border-top: 2px solid black;
  background-color: #186B8C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
}

.foot-content{
  font-size: 12px;
  text-align: left;
}

#copyright{
  display: flex;
  align-self: end;
  justify-content: end;
}

#foot-right{
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-right: 4rem;
  align-items: end;
  padding-top: 4rem;
}

.foot-img{
  height: 2rem;
  align-self: end;
  margin: 0.2rem;
}
