<div id="foot-note">
  <div id="foot-left">
      <a class="foot-content" href="#conteudo-explicativo">Conteúdo explicativo</a>
      <a class="foot-content"  href="#selos">Selos</a>
      <a class="foot-content" href="#contratar-servico">Contratar serviço</a>
      <a href="#sobre-nos" class="foot-content">Sobre nós</a>
      <a href="#contato" class="foot-content">Contato</a>
  </div>
  <p id="copyright">SITEC ®</p>
  <div id="foot-right">
      <img class="foot-img" src="../../assets/face.svg" alt="Face">
      <img class="foot-img" src="../../assets/glassdoor.svg" alt="Glassdoor">
      <img class="foot-img" src="../../assets/linkedin.svg" alt="Linkedin">
      <img class="foot-img" src="../../assets/instagram.svg" alt="Instagram">
  </div>
</div>
