#sobre-nos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tab-title{
  color: #4f8b2e;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  align-items: center;
  margin-bottom: -1.5rem;
}

#conteudo-dev{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#nossa-historia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 2rem;
}

.balaorow{
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}

#nossa-historia-texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.historia-titulo{
  color: black;
  font-size: 28px;
  font-weight: 800;
}

.texts {
  color: black;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  width: 100%;
  margin-right: 4rem;
  align-self: center;
}

.div-bordas-metas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.meta-obj{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tutorial-number-dev{
  align-self: center;
  font-weight: 900;
  font-size: 26px;
}

#tutorial-metas{
  width: 20rem;
  background-color: #186B8C;
  height: 10rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem
}

.tutorial-number-dev-txt{
  color: white;
  align-self: center;
  font-weight: 800;
  font-size: 16px;
  align-self: start;
  margin-left: 1.8rem
}

#tutorial-objetivos{
  width: 29rem;
  background-color: #186B8C;
  height: 10rem;
  border-radius: 4rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem
}

.div-consultores {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

#div-consult {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.consultores-titulo {
  color: #4f8b2e;
  font-size: 38px;
  font-weight: 900;
}

.left-pp-consultores,
.right-pp-consultores {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 3rem;
}

.consultores-img {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.consultores-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.nome-consultor {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.resumo-consultor {
  color: black;
  font-size: 16px;
}

.div-social-left{
  margin-left: -8rem
}

.div-social-right{
  margin-right: -8rem
}

.div-social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 3rem 0 0;
}
