<div id="sobre-nos" class="tab">
  <p class="tab-title">SOBRE NÓS</p>
  <div class="tab-content" id="conteudo-dev">
      <div id="nossa-historia" class="tab" >

          <img src="../../assets/Logo-dev-semfundo.png" width="200px">


      </div>
  </div>
      <div class="balaorow">
          <div id="nossa-historia-texto">
          <p class="historia-titulo" >NOSSA HISTÓRIA</p>
              <p class="texts">A SITEC nasceu do grupo de consultoria Dev4Green motivado pela visão de melhoria urgente no descarte de lixo nas cidades de Sorocaba e Votorantim por grandes empresas. Apesar da Prefeitura ter os meios para um descarte adequado, nem todas as grandes empresas sabem a forma correta ou como fazer esse descarte de forma adequado. Dessa forma, surgimos com a SITEC como meio de intermediar e nos responsabilizar pelo descarte de diferentes tipos de lixo de grandes empresas de Sorocaba e Votorantim.</p>
          </div><img src="../../assets/img-nossa-historia.png" width="600px" id="img-historia">
      </div>
  <div class="div-bordas-metas">
      <div class="meta-obj">
      <p class="tutorial-number-dev">Metas</p>
          <div id="tutorial-metas" >

                  <p class="tutorial-number-dev-txt">1. Adesão de empresas.</p>

                  <p class="tutorial-number-dev-txt">2. Parcerias institucionais.</p>
                  <p class="tutorial-number-dev-txt">3. Expansão regional.</p>
          </div>
        </div>
          <div class="meta-obj">
          <p class="tutorial-number-dev">Objetivos</p>
          <div id="tutorial-objetivos">



                      <p class="tutorial-number-dev-txt">1. Campanha de conscientização ambiental.</p>
                      <p class="tutorial-number-dev-txt">2. Plataforma de agendamento otimizada.</p>
                      <p class="tutorial-number-dev-txt">3. Eventos de networking sustentável.</p>
                  </div>
                </div>
              </div>
  <div id="div-consult">
      <p class="consultores-titulo" >CONSULTORES</p>
      <div class="div-consultores">
          <div class="left-pp-consultores">
              <img class="consultores-img" src="../../assets/Mídia.jpg" alt="Ryan">
              <div class="txt-consultores">
                  <p class="nome-consultor">RYAN CARLO NEGRETTI PEREIRA</p>
                  <p class="resumo-consultor">Consultor com especialidade no manejo e descarte de resíduos sólidos e tecnológicos, com pós-graduação em Engenharia Ambiental pela Universidade Federal de Uberlândia (UFU) e graduação em Engenharia de Sistemas Ambientais pela Universidade de São Paulo (USP). Com vasta experiência na gestão de resíduos, busca soluções inovadoras e sustentáveis para reduzir o impacto ambiental, promovendo práticas eficientes de reciclagem e reaproveitamento. Almeja melhorar as condições ambientais de sua cidade e, posteriormente, a nível nacional, implementando as melhores práticas para o gerenciamento e descarte de resíduos sólidos e tecnológicos.</p>
              </div>
              <div class="div-social div-social-left">
                  <a href="https://www.linkedin.com/in/ryan-carlo-negretti-pereira-8709b1292/"><img class="social-consultores" class="social-consultores" src="../../assets/linkedin.svg" alt="Linkedin"></a>
                  <a href="https://github.com/RyanCarloNegrettiPereira"><img class="social-consultores" src="../../assets/git.svg" alt="GitHub"></a>
              </div>
          </div>
          <div class="right-pp-consultores">
              <div class="div-social div-social-right">
                  <a href="https://www.linkedin.com/in/gustavo-lopes-ferreira-1245b7179/"><img class="social-consultores" src="../../assets/linkedin.svg" alt="Linkedin"></a>
                  <a href="https://github.com/GLFspedine"><img class="social-consultores" src="../../assets/git.svg" alt="GitHub"></a>
              </div>

              <div class="txt-consultores">
                  <p class="nome-consultor">GUSTAVO LOPERES FERREIRA</p>
                  <p class="resumo-consultor">Consultor com especialidade no manejo e tratamento de resíduos líquidos e biológicos, com pós-graduação em Engenharia Sanitária e Ambiental pela Universidade Federal de Minas Gerais (UFMG) e graduação em Biotecnologia pela Universidade de São Paulo (USP). Com vasta experiência na gestão de resíduos, busca soluções inovadoras e sustentáveis para reduzir o impacto ambiental, promovendo práticas eficientes de tratamento e reaproveitamento. Almeja melhorar as condições ambientais de sua cidade e, posteriormente, a nível nacional, implementando as melhores práticas para o gerenciamento e descarte de resíduos líquidos e biológicos.</p>
              </div>
              <img class="consultores-img" src="../../assets/MicrosoftTeams-image (1).png" alt="Gustavo">
          </div>
          <div class="left-pp-consultores">
              <img class="consultores-img" src="../../assets/WhatsApp Image 2024-03-07 at 21.15.32 (1).jpeg" alt="Pedro">
              <div class="txt-consultores">
                  <p class="nome-consultor">PEDRO SILVA MARTINS</p>
                  <p class="resumo-consultor">Consultor com especialidade no manejo e descarte de resíduos sólidos e radioativos, com mestrado em Engenharia Nuclear pela Universidade Federal do Rio de Janeiro (UFRJ) e graduação em Engenharia Ambiental pela Universidade Estadual de Campinas (UNICAMP). Com vasta experiência na gestão de resíduos, busca soluções inovadoras e seguras para minimizar o impacto ambiental, promovendo práticas eficientes de reciclagem, armazenamento e descarte seguro. Almeja melhorar as condições ambientais de sua cidade e, posteriormente, a nível nacional, implementando as melhores práticas para o gerenciamento e descarte de resíduos sólidos e radioativos.</p>
              </div>
              <div class="div-social div-social-left">
                  <a href="https://www.linkedin.com/in/pedro--silva-martins"><img class="social-consultores" src="../../assets/linkedin.svg" alt="Linkedin"></a>
                  <a href="https://github.com/Pedro8k"><img class="social-consultores" src="../../assets/git.svg" alt="GitHub"></a>
              </div>
          </div>
          <div class="right-pp-consultores">
              <div class="div-social div-social-right">
                  <a href="https://www.linkedin.com/in/victor-hugo-werneck-nordi-65756019a"><img class="social-consultores" src="../../assets/linkedin.svg" alt="Linkedin"></a>
                  <a href="https://github.com/nordivi"><img class="social-consultores" src="../../assets/git.svg" alt="GitHub"></a>
              </div>

              <div class="txt-consultores">
                  <p class="nome-consultor">VICTOR HUGO WERNECK NORDI</p>
                  <p class="resumo-consultor">Consultor com especialidade no despejo de lixo orgânico e eletrônico, com pós-graduação em Engenharia Ambiental pela UFU. Almeja melhorar as condições ambientais de sua cidade e, posteriormente, a nível nacional, buscando as melhores práticas para o descarte de lixo.</p>
              </div>
              <img class="consultores-img" src="../../assets/pp.jpg" alt="Victor">
          </div>
      </div>
  </div>
  </div>
