:root{
  --primary-color: #186B8C;
  --secondary-color: #4f8b2e;
  --background-color: #F2E7DC;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

html, body{
  height: 100%;
  background-color: #F2E7DC;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  font-weight: 600;
  color: white;
  font-size: 20px;
  background-color: #186B8C;
  height: 1.3rem;
  width: 5rem;
  margin-right: 3rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
}
form{
  background-color: grey;
  width: 80%;
  height: 18rem;
  position: absolute;
}

#img-login {
  opacity: 0.5;
  max-width: 100%;
 height: auto;
 position: absolute;
 }

.campos-login{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 20%;
  left:52%;
}

.input-campo{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 31%;
  left:52%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

#main-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 14rem;
  border: none;
  cursor: pointer;
  background-color: #4f8b2e;
  border-radius: 4rem;
  align-items: center;
  margin-top: -3rem;
  position: absolute;
  top: 107%;
  left: 55%;
}

a{
  text-decoration: none;
  color: #F2E7DC;
  cursor: pointer;
}

#button-text{
  font-weight: 500;
  font-size: 18px;

}

#img-button{
  width: 2rem;
}

.campos-email{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 39%;
  left:52%;
}

.input-email{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 50%;
  left:52%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

.campos-senha{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 59%;
  left:52%;
}

.input-senha{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 71%;
  left:52%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

.campos-confirme{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 79%;
  left:52%;
}

.input-confirme{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 90%;
  left:52%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

#user-click{
  background-color: rgba(128, 128, 128 0);
  border-radius: 4rem;
  border: 1px solid black;
  position: absolute;
  top: 11%;
  left: 20%;
  height: 2rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-registrar{
  background-color: rgba(128, 128, 128, 0);
  border-radius: 4rem;
  border: 1px solid black;
  position: absolute;
  top: 11%;
  left: 50%;
  height: 2rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#img-user{
  width: 1.3rem;
  margin-left: 6rem;
}

#entrar{
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#cadastrar{
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-left: 7rem;
  margin-top: 0.9rem;
}

.selected{
  background-color: rgba(128, 128, 128, 0.7) !important
}

.campos-email-selecionado{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 39%;
  left:22%;
}

.input-email-selecionado{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 50%;
  left:22%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

.campos-senha-selecionado{
  background-color: rgba(128, 128, 128, 0.432);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 59%;
  left:22%;
}

.input-senha-selecionado{
  background-color: rgba(128, 128, 128, 0);
  color: white;
  font-weight: bold;
  width: 18rem;
  height: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 4rem;
  position: absolute;
  top: 71%;
  left:22%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-width: 0 0 2px 0;
}

#main-button-entrar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 14rem;
  border: none;
  cursor: pointer;
  background-color: #4f8b2e;
  border-radius: 4rem;
  align-items: center;
  margin-top: -3rem;
  position: absolute;
  top: 89%;
  left: 24%;
}

#entrar-div{
  background-color: #186B8C;
  width: 21rem;
  height: 15rem;
  margin-top: 6rem;
  margin-right: 26rem;
  border-radius: 2rem;
  border: 2px solid white;
  z-index: 3;
}

#entrar-div-2{
  background-color: #186B8C;
  width: 21rem;
  z-index: 3;
  height: 28.4rem;
  margin-top: 6rem;
  margin-right: -22rem;
  border-radius: 2rem;
  border: 2px solid white
}
