<div id="contato" class="tab">
  <p class="tab-title">CONTATO</p>
  <div class="tab-content" id="contato-div">
      <div id="contato-div" class="tab">
          <div id="div-txt-contato">
          <p id="txt-contato">FORMULÁRIO DE CONTATO</p>
      </div>
          <div id="div-contato">
              <form id="form-contato">
                  <input class="contato-class" type="text" name="name" id="name" placeholder="Nome">
                  <input class="contato-class" type="text" name="empresa" id="empresa" placeholder="Nome da empresa">
                  <input class="contato-class" type="text" name="assunto" id="assunto" placeholder="Assunto">
                  <textarea name="mensagem" id="msg" cols="30" rows="10"></textarea>
                  <button id="button-contato">Enviar mensagem</button>
              </form>
          </div>
      </div>
  </div>

</div>
