<div class="container-img">
  <img src="../../assets/main-pic.jpg" id="main-pic">
  <div class="top-right">
      <p id="img-txt-title">SITEC</p>
      <p id="img-txt-tag">O futuro é agora!</p>
      <p id="text-img">O projeto Sitec tem como modelo de negócio a implantação de selos e certificados para empresas que realizem o descarte de seus rejeitos de forma adequada. </p>
      <a id="main-button" href="#contratar-servico">
          <img src="../../assets/sitec-logo-no-bg.png" alt="Logo" id="img-button">
          <p id="button-text">Contrate já!</p>
      </a>
  </div>
</div>
