:root{
  --primary-color: #186B8C;
  --secondary-color: #4f8b2e;
  --background-color: #F2E7DC;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

.container-img {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-txt-title{
  font-size: 48px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

#img-txt-tag{
  font-size: 28px;
  color: white;
  font-weight: 600;
  margin-top: -3rem;
  font-family: 'Montserrat', sans-serif;
}

#text-img{
  width:28rem;
  height: 8rem;
  justify-content: center;
  display: flex;
  font-size: 18px;
  text-align: justify;
}

#main-pic {
  height: 30rem;
  width: 100%;
}

#main-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 14rem;
  border: none;
  cursor: pointer;
  background-color: #4f8b2e;
  border-radius: 4rem;
  align-items: center;
  margin-top: -3rem;
}

#img-button{
  width: 2rem;
}

#button-text{
  font-weight: 500;
  font-size: 18px;

}


