.divider{
  background-color: #F2E7DC;
  height: 26px;
  width: 1px;
  margin-top: 15.2rem;
}

.tabs-div {
  background-color: #4f8b2e;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 17rem;
  z-index: 1;
  justify-content: space-around;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
  margin-top: -15rem;
  padding: 0.2rem;
}

.tabs-text{
  color: #F2E7DC;
  font-size: 24px;
  margin-top: 12.7rem;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: #F2E7DC
}
