<div id="header-div">
  <img src="../../assets/sitec-logo-no-bg.png" alt="Logo" id="main-logo">
  <div id="sitec-div">
      <p id="sitec-header">SITEC</p>
      <p id="sitec-tag-header">O futuro é agora!</p>
  </div>
  <div id="search-div">
      <img src="../../assets/lupa.svg" alt="Lupa">
  </div>
  <div id="buttons-header">
      <a class="button-header" href="index1.html">
      <img src="../../assets/user.svg" alt="User">Login</a>
      <a class="button-header" href="#contato">Contato</a>
      <a href="#sobre-nos" class="button-header" id="sobre-nos-but">Sobre nós</a>
  </div>
</div>
