<div id="contratar-servico" class="tab">
  <p class="tab-title">CONTRATAR SERVIÇO</p>
  <div class="tab-content" id="contratar-div">
      <div id="formulario-contratar">

          <form id="form-contratar">
              <div id="div-form">
              <p id="title-formulario">FORMULÁRIO</p>
              <input class="contratar-class" type="text" name="name" id="name" placeholder="Nome">
              <input class="contratar-class" type="text" name="empresa" id="empresa" placeholder="Nome da empresa">
              <input class="contratar-class" type="tel" name="telefone" id="telefone" placeholder="Telefone">
              <input class="contratar-class" type="email" name="email" id="email" placeholder="Email">
              <div class="multiselect">
                  <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                      <option>Tipo de lixo</option>
                    </select>
                    <div class="overSelect"></div>
                  </div>
                  <div id="checkboxes">
                    <label for="one">
                      <input type="checkbox" id="one" />Biológico</label>
                    <label for="two">
                      <input type="checkbox" id="two" />Tecnológico</label>
                    <label for="three">
                      <input type="checkbox" id="three" />Líquido</label>
                  <label for="four">
                      <input type="checkbox" id="four" />Sólido</label>
                      <label for="five">
                          <input type="checkbox" id="five" />Radioativo</label>
                  </div>
                </div>
          </div></form>
      </div>
      <div id="right-contratar">
          <p class="contrate-txt">CALENDÁRIO</p>
          <div id="calendario-contratar">
              <div id="div-calendario">
                  <div id="div-horario">
                      <div>
                          <p class="semana">SEG</p>
                          <p class="semana">24/06</p>
                          <p class="horario">09:00</p>
                          <p class="horario">10:00</p>
                          <p class="horario">11:00</p>
                          <p class="horario">11:30</p>
                          <p class="horario">12:00</p>
                          <p class="horario">13:00</p>
                          <p class="horario">14:00</p>
                      </div>
                      <div>
                          <p class="semana">TER</p>
                          <p class="semana">25/06</p>
                          <p class="horario">09:00</p>
                          <p class="horario">10:00</p>
                          <p class="horario">11:00</p>
                          <p class="horario">12:00</p>
                          <p class="horario">13:00</p>
                          <p class="horario">13:30</p>
                          <p class="horario">14:00</p>
                      </div>
                      <div>
                          <p class="semana">QUA</p>
                          <p class="semana">26/06</p>
                          <p class="horario">08:30</p>
                          <p class="horario">09:00</p>
                          <p class="horario">10:00</p>
                          <p class="horario">11:00</p>
                          <p class="horario">12:00</p>
                          <p class="horario">13:00</p>
                          <p class="horario">14:00</p>
                      </div>
                      <div>
                          <p class="semana">QUI</p>
                          <p class="semana">27/06</p>
                          <p class="horario">09:00</p>
                          <p class="horario">10:00</p>
                          <p class="horario">11:00</p>
                          <p class="horario">12:00</p>
                          <p class="horario">12:30</p>
                          <p class="horario">13:00</p>
                          <p class="horario">14:00</p>
                      </div>
                      <div>
                          <p class="semana">SEX</p>
                          <p class="semana">28/06</p>
                          <p class="horario">08:00</p>
                          <p class="horario">09:00</p>
                          <p class="horario">10:00</p>
                          <p class="horario">11:00</p>
                          <p class="horario">12:00</p>
                          <p class="horario">13:00</p>
                          <p class="horario">14:00</p>
                      </div>
                  </div>
              </div>
          </div>
          <button class="main-button" id="botao-agendar">AGENDAR</button>
          <div id="empresas-contratar">
              <p class="contrate-cal-txt">EMPRESAS COM CERTIFICAÇÃO SITEC</p>
              <div id="empresas-sitec">
                  <div class="div-empresas">
                      <img src="../../assets/mc.jpg" alt="Mc Donalds" class='logo-empresas'>
                      <div class="empresa-borda">
                      <p class="txt-contratar">MC Donalds</p>
                      <img class="selo-contratar" src="../../assets/selo-residuos-solidos.png" alt="certificado residuos">
                      </div>
                  </div>
                  <div class="div-empresas">
                      <img src="../../assets/ciane (1).png" alt="Mc Donalds" class='logo-empresas'>
                      <div class="empresa-borda">
                      <p class="txt-contratar">Cianê</p>
                      <img class="selo-contratar" src="../../assets/selo-residuos-solidos.png" alt="certificado residuos">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
