
body {
  background-color: #F2E7DC;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  overflow: auto;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #F2E7DC
}

input{
  outline: none;
}
