<div id="selos" class="tab">
  <p class="tab-title">SELOS</p>
  <div class="tab-content" id="selos-div">
      <div class="tab-div">
              <p class="titulo-selo">Resíduos Sólidos</p>
              <div class="div-selos">
                  <img class="img-selo" src="../../assets/selo-residuos-solidos-removebg-preview.png" alt="Selo resíduos sólidos">
                  <p class="text-selo">
                      Este certificado, acompanhado do Selo de Descarte Correto de Resíduos Sólidos, reconhece formalmente que a empresa nomeada (nome da empresa) demonstrou conformidade com os requisitos estabelecidos para o Descarte Correto de Resíduos Sólidos. Ele atesta que a empresa implementou práticas e procedimentos adequados para lidar com seus resíduos de forma responsável e em conformidade com as regulamentações ambientais. A empresa é elogiada por sua diligência em adotar medidas que minimizam o impacto ambiental de suas operações e por seu compromisso em promover a sustentabilidade. Este certificado, juntamente com o Selo, é uma prova tangível do comprometimento da empresa com a proteção do meio ambiente e sua contribuição para um futuro mais sustentável.                        </p>
                  <img class="img-certificado" src="../../assets/Resíduos Sólidos.png" alt="Certificado resíduos">
              </div>
              <p class="titulo-selo">Resíduos Radioativos</p>
              <div class="div-selos">
                  <img class="img-certificado" src="../../assets/Resíduos Radioativos.png" alt="Certificado resíduos">
                  <p class="text-selo">
                      Este certificado, acompanhado do Selo de Gestão Adequada de Resíduos Radioativos, reconhece formalmente que a empresa nomeada (nome da empresa) demonstrou conformidade com os requisitos estabelecidos para a Gestão Adequada de Resíduos Radioativos. Ele atesta que a empresa implementou práticas e procedimentos adequados para lidar com seus resíduos radioativos de forma responsável e em conformidade com as regulamentações ambientais e de segurança. A empresa é elogiada por sua diligência em adotar medidas que garantam a segurança pública e ambiental na manipulação e disposição desses materiais altamente regulamentados. Este certificado, juntamente com o Selo, é uma prova tangível do comprometimento da empresa com a segurança e proteção da comunidade e do meio ambiente em que opera.                        </p>
                  <img class="img-selo" src="../../assets/SITEC_RADIO-removebg-preview.png" alt="Selo resíduos sólidos">
              </div>
              <p class="titulo-selo">Resíduos Biológicos</p>
              <div class="div-selos">
                  <img class="img-selo" src="../../assets/selo_biologico-removebg-preview.png" alt="Selo resíduos sólidos">
                  <p class="text-selo">
                      Este certificado, acompanhado do Selo de Gestão Adequada de Resíduos Biológicos, reconhece formalmente que a empresa nomeada (nome da empresa) demonstrou conformidade com os requisitos estabelecidos para a Gestão Adequada de Resíduos Biológicos. Ele atesta que a empresa implementou práticas e procedimentos adequados para lidar com seus resíduos biológicos de forma responsável e em conformidade com as regulamentações ambientais e de saúde pública. A empresa é elogiada por sua diligência em adotar medidas que garantam a segurança sanitária e ambiental na manipulação e disposição desses materiais. Este certificado, juntamente com o Selo, é uma prova tangível do comprometimento da empresa com a proteção da saúde pública e do meio ambiente em que opera.                        </p>
                  <img class="img-certificado" src="../../assets/Resíduos Biológicos.png" alt="Certificado resíduos">
              </div>

              <p class="titulo-selo">Resíduos Tecnológicos</p>
              <div class="div-selos">
                  <img class="img-certificado" src="../../assets/Resíduos Tecnológicos.png" alt="Certificado resíduos">
                  <p class="text-selo">
                      Este certificado, acompanhado do Selo de Gestão Adequada de Resíduos Tecnológicos, reconhece formalmente que a empresa nomeada (nome da empresa) demonstrou conformidade com os requisitos estabelecidos para a Gestão Adequada de Resíduos Tecnológicos. Ele atesta que a empresa implementou práticas e procedimentos adequados para lidar com seus resíduos tecnológicos de forma responsável e em conformidade com as regulamentações ambientais. A empresa é elogiada por sua diligência em adotar medidas que garantem a reciclagem e a correta disposição de equipamentos eletrônicos e outros resíduos tecnológicos, minimizando seu impacto ambiental. Este certificado, juntamente com o Selo, é uma prova tangível do comprometimento da empresa com a sustentabilidade e a proteção do meio ambiente em que opera.                        </p>
                  <img class="img-selo" src="../../assets/selo_tecnologico-removebg-preview.png" alt="Selo resíduos sólidos">
              </div>
              <p class="titulo-selo">Resíduos Líquidos</p>
              <div class="div-selos">
                  <img class="img-selo" src="../../assets/selo_residuo_liquido-removebg-preview.png" alt="Selo resíduos sólidos">
                  <p class="text-selo">
                      Este certificado, acompanhado do Selo de Gestão Adequada de Resíduos Líquidos, reconhece formalmente que a empresa nomeada (nome da empresa) demonstrou conformidade com os requisitos estabelecidos para a Gestão Adequada de Resíduos Líquidos. Ele atesta que a empresa implementou práticas e procedimentos adequados para lidar com seus resíduos líquidos de forma responsável e em conformidade com as regulamentações ambientais. A empresa é elogiada por sua diligência em adotar medidas que garantam o tratamento e a correta disposição de resíduos líquidos, minimizando seu impacto ambiental. Este certificado, juntamente com o Selo, é uma prova tangível do comprometimento da empresa com a sustentabilidade e a proteção dos recursos hídricos e do meio ambiente em que opera.                        </p>
                  <img class="img-certificado" src="../../assets/Resíduos Liquidos.png" alt="Certificado resíduos">
              </div>
      </div>
  </div>

</div>
